
.roleId,
.status {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #1c1c1c;
  font-style: italic;
}

::placeholder {
  font-style: italic;
  color: #949494;
  font-size: 0.9em;
}

input,
select {
  border-color: black;
}

.textFontWeight {
  font-weight: 600;
}

.genderText {
  font-weight: 600;
}

.errorMessage {
  font-style: italic;
  font-size: 0.8em;
  color: red;
  margin-top: 2px; /* Adjusts the spacing between RadioGroup and error message */
}
