################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Backend/SmartMenu/bin/Debug/net8.0/
/Backend/.vs/SmartMenu/FileContentIndex/
/Backend/.vs/ProjectEvaluation/
/Backend/.vs/SmartMenu/DesignTimeBuild/.dtbcache.v2
/Backend/.vs/ProjectEvaluation/smartmenu.metadata.v7.bin
/Backend/.vs/ProjectEvaluation/smartmenu.projects.v7.bin
/Backend/.vs/SmartMenu/v17/
/Backend/.vs/ProjectEvaluation/
/Backend/SmartMenu/obj/Debug/net8.0/
*.vsidx
/Backend/.vs/SmartMenu/FileContentIndex/587547da-5e21-4659-8308-55c995908672.vsidx
/Backend/.vs/SmartMenu/FileContentIndex/7d90925d-16b6-43f2-ae61-9b608bd68e1c.vsidx
/Backend/.vs/SmartMenu/FileContentIndex/898d5760-1726-48b2-9216-595eaeb43ffd.vsidx
/Backend/.vs/SmartMenu/FileContentIndex/e25ae0f2-6a63-4229-ade2-f9a86cf77395.vsidx
/Backend/.vs/SmartMenu/FileContentIndex/e332e1d0-8302-4c69-bd22-87d883c1cdbd.vsidx
/Backend/.vs/SmartMenu/v17/.futdcache.v2
/Backend/.vs/SmartMenu/v17/.suo
/Backend/SmartMenu/bin/Debug/net8.0/SmartMenu.dll
/Backend/SmartMenu/bin/Debug/net8.0/SmartMenu.pdb
/Backend/SmartMenu/obj/Debug/net8.0/ref/SmartMenu.dll
/Backend/SmartMenu/obj/Debug/net8.0/refint/SmartMenu.dll
/Backend/SmartMenu/obj/Debug/net8.0/apphost.exe
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.AssemblyInfo.cs
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.AssemblyInfoInputs.cache
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.assets.cache
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.csproj.AssemblyReference.cache
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.csproj.BuildWithSkipAnalyzers
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.csproj.CopyComplete
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.csproj.CoreCompileInputs.cache
/Backend/SmartMenu/obj/SmartMenu.csproj.nuget.g.props
/Backend/SmartMenu/obj/SmartMenu.csproj.nuget.dgspec.json
*.targets
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.sourcelink.json
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.pdb
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.MvcApplicationPartsAssemblyInfo.cs
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.genruntimeconfig.cache
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.GeneratedMSBuildEditorConfig.editorconfig
/Backend/SmartMenu/obj/project.assets.json
/Backend/SmartMenu/obj/project.nuget.cache
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.dll
*.Up2Date
/Backend/SmartMenu/obj/Debug/net8.0/SmartMenu.csproj.FileListAbsolute.txt
