@import "../../styles/shared.scss";

.container {
  @extend .container;

  .Product {
    @extend .table;

    .ProductTbl {
      @extend .tableContainer;
      @extend .shadow;

      .ProductItem {
        @extend .tableItem;
      }

      .WrapText {
        width: 40%;
        white-space: normal;
        text-align: justify;
      }

      .ProductImage {
        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
      }
    }

    .HeaderTbl {
      @extend .header;
    }
  }
}
