@import "../../styles/shared.scss";

.container {
  @extend .container;

  .searchWrapper {
    @extend .searchWrapper;
  }
  
  .AddProductBtn {
    @extend .primaryButton;
    color: #f1f8e8;
    margin-right: 38px;
    height: 100%;
    &:hover {
      background-color: #499182;
    }
    &:active {
      background-color: #3f7a6f;
    }
  }
  .Product {
    @extend .table;
    .ProductTbl {
      @extend .tableContainer;
      @extend .shadow;

      .ProductItem {
        @extend .tableItem;
      }

      .WrapText {
        width: 40%;
        white-space: normal;
        text-align: justify;
      }

      .ProductImage {
        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
      }
    }

    .HeaderTbl {
      @extend .header;
    }
  }
}
