.Product {
  width: 100%;
  padding: 20px;
  user-select: none;
  justify-content: center;

  .ProductTbl {
    border-radius: 7px;
    border: 1px solid #ccc;
    background-color: #fff;
    .SettingProduct {
      width: 100%;
      height: 25px;
      justify-content: center;
    }

    .SettingsIconBtn {
      width: 0px;
      height: 25px;
      background-color: transparent;
      .SettingsIcon {
        transition: 0.3s;
        width: 25px;
        height: 25px;
        cursor: pointer;
        &:hover {
          rotate: 180deg;
        }
        &:active {
          width: 20px;
          height: 20px;
        }
      }
    }
    .ProductItem {
      transition: 0.3s;
      &:hover {
        background-color: #f9fafb;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      &:active {
        transition: 0.1s;
        box-shadow: none;
      }
    }
  }
  .PopupButton {
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    &:hover {
      background-color: #b9d7d5;
    }
    &:active {
      background-color: #a0c4c3;
    }
  }

  .PopoverContent {
    width: 100%;
    .PopupButton {
      font-weight: bold;
      border-radius: 10px;
      width: 150px;
      height: 40px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;
      transition: 0.3s;
      &:hover {
        background-color: #5d5fef;
        color: #fff;
      }
      &:active {
        background-color: #4d4ff0;
      }
    }
  }

  .HeaderTbl {
    color: black;
    font-size: 15px;
  }
}
