.SettingBrand {
  width: 100%;
  height: 25px;
  justify-content: center;
  background-color: #fff;

  .SettingsIconBtn {
    width: 0px;
    height: 25px;
    background-color: transparent;
    .SettingsIcon {
      transition: 0.3s;
      width: 34px;
      height: 34px;
      cursor: pointer;
      &:active {
        width: 20px;
        height: 20px;
      }
    }
  }

  .SettingsIconBtn:hover {
    background-color: #fff;
  }
}

.PopoverContent {
  width: 100% !important;
  .PopupButton {
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
      background-color: #5d5fef;
      color: #fff;
    }
    &:active {
      background-color: #4d4ff0;
    }
  }
}
