// shared.scss

// Container styles
.container {
  width: 100%;
  flex-direction: column;
}

// Table styles
.table {
  width: 100%;
  padding: 20px;
  user-select: none;
  justify-content: center;
  flex-direction: column;

  .tableContainer {
    border-radius: 7px;
    background-color: #fff;
    width: 100%;
    overflow: hidden;

    &.shadow {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .tableItem {
      transition: 0.3s;
      &:hover {
        background-color: #f9fafb;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      &:active {
        transition: 0.1s;
        box-shadow: none;
      }
      td {
        font-size: 18px;
      }
    }
  }

  .header {
    color: black;
    font-size: 15px;
    text-align: center;
  }

  .wrapText {
    width: 40%;
    white-space: normal;
  }

  .itemImage {
    max-width: 100%;
    max-height: 100%;
  }
}

// Settings styles
.settingItem {
  width: 100%;
  height: 25px;
  justify-content: center;
  background-color: #fff;

  .settingsIconBtn {
    width: 0px;
    height: 25px;
    background-color: transparent;
    .settingsIcon {
      transition: 0.3s;
      width: 25px;
      height: 25px;
      cursor: pointer;
      &:hover {
        rotate: 180deg;
      }
      &:active {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// Popover styles
.popoverContent {
  width: 100% !important;

  .popupButton {
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
      background-color: #5d5fef;
      color: #fff;
    }
    &:active {
      background-color: #4d4ff0;
    }
  }
}

.borderColor {
  border-color: #466d6b;
}

.placeholder {
  font-style: italic;
  color: #949494;
  font-size: 1em;
}

.textFontWeight600{
  font-weight: 600;
}
