.User {
  width: 100%;
  padding: 20px;
  user-select: none;
  justify-content: center;
  .UserTbl {
    border-radius: 7px;
    border: 1px solid #ccc;
    .SettingUser {
      width: 100%;
      height: 25px;
      justify-content: center;
    }
    .SettingsIcon {
      transition: 0.3s;
      width: 25px;
      height: 25px;
      cursor: pointer;
      &:hover {
        rotate: 180deg;
      }
      &:active {
        width: 20px;
        height: 20px;
      }
    }

    // .PopupButton {
    // width: 150px;
    // height: 40px;
    // justify-content: center;
    // align-items: center;
    // cursor: pointer;
    // user-select: none;
    // }
  }
}
