.Card {
  width: 31%;
  // height: 20vh;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  .MenuCard {
    transition: 0.3s;
    width: 98%;
    padding: 20px;
    transition: 0.1s;
    user-select: none;
    cursor: pointer;
    &:hover {
      width: 99%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    &:active {
      width: 98%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .MenuCardTitle {
      flex-direction: column;
      row-gap: 10px;
      align-items: center;

      .Title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
      }
      .Description {
        margin-top: 14px;
        text-align: center;
      }
    }
  }
}
