@font-face {
  font-family: "Thu Phap";
  src: url("../../../fonts/ThuPhapFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// @import "../../../styles/shared.scss";

img {
  display: inline-block;
}

.SpotligtTitle {
  font-family: "Thu Phap", sans-serif;
  font-size: 2.4vw;
  color: #7dd7f3;
}

.ErrorText {
  color: red;
  font-size: 1em;
  font-style: italic;
  margin-bottom: -20px;
  margin-top: -10px;
}
