@import "../../../styles/shared.scss";

.containerForm {
  .textFontWeight600 {
    @extend .textFontWeight600;
  }

  input {
    @extend .borderColor;
  }

  .inputImage {
    border: none;
    padding: 0;
    border-radius: 0;
  }

  .imagePreview {
    margin-top: 10px;
    max-width: 200px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .errorMessage {
    color: red;
    font-size: 1em;
    font-style: italic;
  }
}
